.home{
    font-family: arial;
    padding-right: 5px;
    margin-left: 10px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-width: thin;
    border-radius: 10px;
}
.download{
    font-family: arial;
    padding-right: 5px;
    margin-right: 10px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-width: thin;
    border-radius: 10px;

}
.search{
    border-radius: 20px;
    padding-right: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
}
.scam{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
}